.gallery-section {
  /* width: calc(100% - 350px); */
  margin: 60px;
  padding: 40px;
  background: #08080826;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(78, 84, 200, 0.08);
  text-align: left;
  overflow: hidden;
}

.gallery-section h2 {
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 24px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 32px;
}

.gallery-img {
  width: 100%;
  max-width: 220px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 8px;
  box-shadow: 0 2px 12px rgba(78, 84, 200, 0.08);
  transition: transform 0.2s;
}

.gallery-img:hover {
  transform: scale(1.05);
}

/* Carousel styles for Gallery */
.gallery-carousel {
  margin-top: 32px;
  max-width: 100%;
}

.gallery-card {
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(78, 84, 200, 0.12);
  padding: 12px;
  margin: 0 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 240px !important;
}

.slick-dots li button:before {
  color: #B91B54;
}

.slick-dots li.slick-active button:before {
  color: #8938D8;
}
